<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title> Scala - <%= @page.title %></title>
    <link rel="stylesheet" href="scala_ref/assets/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="main">
      <%= @page.content %>
    </div>
    <div id="sidebar">
      <h2> Documentation </h2>
      <ul>
        <li><a href="/faq"> FAQ </a></li>
        <li><a href="/ref"> Reference</a></li>
      </ul>
    </div>
  </body>
</html>
